
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div id="Login" class="row" style="display:block;">
    <div class="offset-md-4 col-md-4">

    </div>
</div>
<div id="Register" class="row" style="display:none;">
    <div class="offset-md-4 col-md-4">

    </div>
</div>
