
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="offset-md-4 col-md-4">
    <div id="login-logo-container" class="row">
        <div class="col-md-12">
            <img id="login-logo" height="150" width="150" src="~/img/logo.png" />
        </div>
    </div>
    <div id="login-content" class="row">
        <div class="col-md-12">
            <div id="change-option" class="row">
                <div class="col-md-12">
                    <div id="login-container-buttons" class="row">
                        <div id="changeLogin" style="background-color:#9E9E9E" class="col-md-6">
                            <a class="centre-buttons">Inloggen</a>
                        </div>
                        <div id="changeRegister" style="background-color:#757575" class="col-md-6">
                            <a class="centre-buttons">Registreren</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="login-body-container" class="row">
                <div id="Login" class="col-md-12" style="display:block;">
                    <form class="offset-md-2 col-md-8">
                        <div class="form-group">
                            <label for="LoginUsername">Gebruikersnaam</label>
                            <input type="text" class="form-control" id="LoginUsername" placeholder="Gebruikersnaam">
                        </div>
                        <div class="form-group">
                            <label for="LoginPassword">Password</label>
                            <input type="password" class="form-control" id="LoginPassword" placeholder="Wachtwoord">
                        </div>
                        <button asp-action="Login" asp-controller="Login" type="submit" class="btn login-btn">Login</button>
                    </form>
                </div>
                <div id="Register" class="col-md-12" style="display:none;">
                    <form class="offset-md-2 col-md-8">
                        <div class="form-group">
                            <label for="RegisterUsername">Gebruikersnaam</label>
                            <input type="text" class="form-control" id="RegisterUsername" placeholder="Gebruikersnaam">
                        </div>
                        <div class="form-group">
                            <label for="RegisterPassword">Password</label>
                            <input type="password" class="form-control" id="RegisterPassword" placeholder="Wachtwoord">
                        </div>
                        <div class="form-group">
                            <label for="Firstname">Voornaam</label>
                            <input type="text" class="form-control" id="Firstname" placeholder="Voornaam">
                        </div>
                        <div class="form-group">
                            <label for="Lastname">Achternaam</label>
                            <input type="text" class="form-control" id="Lastname" placeholder="Achternaam">
                        </div>
                        <div class="form-group">
                            <label for="Date">Geboortedatum</label>
                            <input type="date" class="form-control" id="Date" placeholder="Geboortedatum">
                        </div>
                        <div class="form-group">
                            <label for="Email">Email</label>
                            <input type="email" class="form-control" id="Email" placeholder="Email">
                        </div>
                        <button asp-action="Register" asp-controller="Login" type="submit" class="btn login-btn">Registreer</button>
                    </form>
                </div>
            </div>
        </div>  
    </div>
</div>