/*General CSS Start*/
:root {
    --bg-color: #757575;
    --grey: #9E9E9E;
    --orange: #E65100;
}

html {
    height: 100%;
    position: relative;
    min-height: 100%;
}

body {
    height:100%;
}

.row {
    margin:0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding:0;
}


/*General CSS End*/

/* Login */
#login-container {
    min-height:100%;
    display:flex;
    align-items:center;
    background-color:var(--bg-color);
}

#login-logo-container {
    margin-top:10%;
    margin-bottom:3%;
}

#login-logo {
    display:block;
    margin:0 auto;
}

#login-content {
    height:60%;
    background-color:var(--grey);
    border:5px solid var(--orange);
    padding-bottom:5%;
    margin-bottom:10%;
}

#login-container-buttons {
    height:20%;
    text-align:center;
}

#changeLogin:hover {
    cursor:pointer;
}

#changeRegister:hover {
    cursor: pointer;
}

#login-body-container { 
    margin:5% 0%;
}

.login-btn {
    width:100%;
    background-color:var(--orange);
    color:white;
}
/* Login End */

/* Header start */
header {
    height:10%;
}

nav {
    height:100%;
}

.navbar {
    background-color: #9095aa;
}

.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color:white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    background-color:lightgrey;
    cursor:pointer;
}

.nav .nav-item:hover {
    background-color:lightgrey;
    cursor:pointer;
}

.dropdown-item:hover {
    background-color:lightgrey;
}
/* Header end*/

/* Body Start */
.custom-container {
    height:95%
}

.custom-main-content {
    height:90%;
}

.full-height {
    height:100%;
}
/* Body End */

/* Sidebar Start */
.sidebar {
    background-color: #9095aa;
    height: 100%;
    color: white;
}

.logo-container {
    height:30%;
}

.logo {
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.categories {
    height:70%;
}

.category-list {
    width: 80%;
    margin-left: 12%;
}
/* Sidebar End */

/* Content Start */
.main-content {
    height:100%;
}
/* Content End */

/* Footer Start */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 5%;
}
/* Footer End */